.optionsWrapper{
        
    h1{
       font-size: 17px;
       margin-bottom: 10px;
    }

    .options{
        display: flex;
        justify-content: flex-start;

        button{
            padding: 5px;
            border: 0px;
            border-radius: 3px;
            margin-right: 5px;
            background: black;
            color: white;
            display: flex;
            flex-direction: row;
            cursor: pointer;

            img{
                margin-right: 5px;
            }

            span{
                font-weight: 500;
            }
        }

        .facebookBtn{
            background: #3b5998;
        }

        .googleBtn{
            background: #d74836;
        }

        .vkBtn{
            background: #45668e;
        }
    }
}